<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="org.rstorrent.bootstrap.ProductTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.rstorrent.bootstrap.PRODUCT_TEST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.rstorrent.bootstrap.START" />
                <action android:name="org.rstorrent.bootstrap.CANCEL" />
                <action android:name="org.rstorrent.bootstrap.OBSERVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
