<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".RstorrentApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_rstorrent_launcher"
        android:label="RSTorrent"
        android:roundIcon="@drawable/ic_rstorrent_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="rstorrent"
                    android:host="chromeos-companion" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-bittorrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:host="*"
                    android:pathPattern=".*\.torrent" />
            </intent-filter>
        </activity>
        <service
            android:name=".EngineService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
        <service
            android:name=".ProductEngineService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
        <receiver
            android:name=".CommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.rstorrent.bootstrap.START" />
                <action android:name="org.rstorrent.bootstrap.CANCEL" />
                <action android:name="org.rstorrent.bootstrap.OBSERVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
